<!-- header -->
<div class="table_header">
	<div class="table_header_text">
		<% if @count > 0 %><span>Фильмы:</span>
		<span><%= items_on_the_page_label(@count) %></span>
		<span>из</span>
		<span><%= @count %></span>
		<% else %>
		<span>Ничего не найдено :(</span>
		<% end %>
	</div>
</div>

<!-- -->
<div class="table_content">
	<table width=100%>
		<tr>
			<td class="filter">
				<div align="right" style="right: 0px; float: right;">
					<%= form_tag movies_path, :method => "get", :style => "margin: 0px" do %>
						<%= text_field_tag :search, session[:search] %>
						<%= submit_tag "Поиск", :disable_with => 'Поиск...', :class => "button", :name => nil %>
					<% end %>
				</div>
				<% if session[:disknum] %>
					&nbsp;&nbsp;Номер диска:
					<%= link_to "#{session[:disknum]}", movies_path(clear_filter: 'disknum'), class: "filter" %>
				<% end %>
				<% if session[:director] %>
					&nbsp;&nbsp;Режиссёр:
					<%= link_to "#{session[:director]}", movies_path(clear_filter: 'director'), class: "filter" %>
				<% end %>
				<% if session[:actor] %>
					&nbsp;&nbsp;Актёр:
					<%= link_to "#{session[:actor]}", movies_path(clear_filter: 'actor'), class: "filter" %>
				<% end %>
				<% if session[:year_from] %>
					&nbsp;&nbsp;Годы:
					<%= link_to "с #{session[:year_from]} по #{session[:year_to]}", movies_path(clear_filter: 'years'), class: "filter" %>
				<% end %>
				<% if session[:imdb_from] %>
					&nbsp;&nbsp;Рейтинг IMDB:
					<%= link_to "с #{session[:imdb_from]} по #{session[:imdb_to]}", movies_path(clear_filter: 'imdb'), class: "filter" %>
				<% end %>

				<% if session[:search] %>
					&nbsp;&nbsp;Поиск:
					<%= link_to "#{session[:search]}", movies_path(clear_filter: 'search'), class: "filter" %>
				<% end %>
			</td>
		</tr>
		<tr>
			<td align="center"><% if session[:sorting] == "name asc" %>&uarr;<% end %><% if session[:sorting] == "name desc" %>&darr;<% end %><%= link_to "Название", movies_path(sorting: 'name'), class: 'name' %>&nbsp;&nbsp;<% if session[:sorting] == "year asc" %>&uarr;<% end %><% if session[:sorting] == "year desc" %>&darr;<% end %><%= link_to "Год", movies_path(sorting: 'year'), class: 'name' %>&nbsp;&nbsp;<% if session[:sorting] == "imdb asc" %>&uarr;<% end %><% if session[:sorting] == "imdb desc" %>&darr;<% end %><%= link_to "Рейтинг IMDB", movies_path(sorting: 'imdb'), class: 'name' %></td>
		</tr>
	</table>

</div>

<div class="table_control_panel">
	<div class="OTC CUC LTC">
		<%= link_to 'Новый фильм', new_movie_path, class: "PTC AUC" %><div class="ITC">
		</div>
	</div>
	<div class="OTC CUC LTC"><%= link_to "Экспорт в Excel", "/export_many", class: "PTC AUC" %><div class="ITC">
		</div>
	</div>
</div>


<div class="table_content_in">
	<div>
		<div style="padding-top:5px; padding-bottom:5px;">
			<%= paginate @movies %>
			<%= render :partial => "index_inner" %>
		</div>
	</div>
</div>

<div id="table_bottom">

</div>