<%= form_tag '/movies', :url => {:action => :index}, method: "get" do %>
	<div class="table_header">
		<div class="table_header_text">Фильтр</div>
	</div>
	<!--<div class="table_content">
	</div>-->
	<div class="table_content_in">
		<div class="item">
			<div>
				<p><span class="DDControl">Год</span></p>
			</div>
			<div>
				<%= label_tag 'year_from', 'С' %>
				<%= select_year session[:year_from] || Time.now.year, {start_year: 1903, end_year: Time.now.year}, {name: 'year_from'} %>
				<%= label_tag 'year_to', 'до' %>
				<%= select_year session[:year_to] || Time.now.year, {start_year: 1903, end_year: Time.now.year}, {name: 'year_to'} %>
			</div>
		</div>
		<div class="item">
			<div>
				<p><span class="DDControl">Жанр</span></p>
			</div>
			<div>
				<%= render :partial => 'inner_genre', :locals => {:genre => Genre.find(:all)} %>
			</div>
		</div>
		<div class="item">
			<div>
				<p><span class="DDControl">IMDB</span></p>
			</div>
			<div>
				<%= select_tag "imdb_from", options_for_select([0,1,2,3,4,5,6,7,8,9,10], session[:imdb_from] || 0) %>
				<%= select_tag "imdb_to", options_for_select([0,1,2,3,4,5,6,7,8,9,10], session[:imdb_to] || 10) %>
			</div>
		</div>
		<br />
	</div>

	<div class="table_control_panel">
		<div class="OTC CUC LTC" style="width: 100%;"><%= submit_tag "Фильтровать", class: "but_menu", name: nil %><div class="ITC"></div></div>
	</div>
	<div class="table_bottom">
	</div>
<% end %>
