<script>
	$(function() {
		$("#tabs").tabs();
	});
</script>
<div id="wide_content">
	<div class="table_header">
		<div class="table_header_text">Информация о фильме</div>
	</div>
	<div class="table_control_panel">
		<div class="OTC CUC LTC"><%= link_to 'Редактировать', edit_movie_path(@movie), :class => "PTC AUC" %><div class="ITC"></div></div>
		<div class="OTC CUC LTC"><%= link_to 'Удалить', @movie, method: :delete, data: { confirm: 'Ололошки, точно удалить?' }, :class => "PTC AUC" %><div class="ITC"></div></div>

		<div class="OTC CUC LTC"><%= link_to "Экспорт в Excel", "/export/#{@movie.id}", class: "PTC AUC" %><div class="ITC"></div></div>
	</div>
	<div class="table_content_in">
		<table width="100%" class="summary">
			<tr>
				<td width="1px">
					<div style="margin-right: 10px;">
						<%= image_tag (@movie.image_link) %>
					</div>
				</td>
				<td style="padding-left: 10px; vertical-align: top;">
					<div style="margin-bottom: 5px;">Номер диска&nbsp;
						<% @movie.disknum.split(",").each do |disknum| %>
							<%= link_to disknum.strip, movies_path(disknum: disknum.strip), class: "name" %>&nbsp;&nbsp;
						<% end %>
					</div>
					<h1>
						<%= @movie.name %><br />
						<span class="english"><%= @movie.orig_name %> (<%= @movie.year %>)</span>
					</h1>
					<table style="font-size: 11px;">
						<tr>
							<td>
								<strong style="font-size: 2em;"><%= link_to "#{@movie.imdb / 10}.#{@movie.imdb % 10}", @movie.imdb_link, class: "name" %></strong>/10
							</td>
						</tr>
					</table>
					<table>
						<tr>
							<th>Режиссёр</th>
							<td><% @movie.director.split(",").each do |director| %><%= link_to director.strip, movies_path(director: director.strip), class: "name" %><% end %></td>
						</tr>
						<tr>
							<th>Звёзды</th>
							<td><% @movie.stars.split(",").each do |star| %><%= link_to star.strip, movies_path(actor: star.strip), class: "name" %>&nbsp;&nbsp;<% end %></td>
						</tr>
						<tr>
							<th>Жанр</th>
							<td><%= @movie.genre %></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Обзор</a></li>
				<li><a href="#tabs-2">Тех данные</a></li>
			</ul>
			<div>
				<table cellspacing="7">
					<tbody>
						<tr>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lProduced" class="DD" style="font-weight:bold;">Продюссер</span></td>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lProducedValue" class="DD"><%= @movie.produced %></span></td>
						</tr>
						<tr>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lActors" class="DD" style="font-weight:bold;">Актёры</span></td>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lActorsValue" class="DD"><%= @movie.actors %></span></td>
						</tr>
						<tr>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lComposer" class="DD" style="font-weight:bold;">Композитор</span></td>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lComposerValue" class="DD"><%= @movie.composer %></span></td>
						</tr>
						<tr>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lDesc" class="DD" style="font-weight:bold;">Описание</span></td>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lDescValue" class="DD"><%= @movie.desc %></span></td>
						</tr>
						<tr>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lRemark" class="DD" style="font-weight:bold;">Примечания</span></td>
							<td><span id="MainContentPlaceHolder_tContainer_TabPanel1_lRemarkValue" class="DD"><%= @movie.remarks %></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div>
				тест
			</div>
		</div>
	</div>
</div>