<script>
	$(function() {
		$("#tabs").tabs();
	});
	$(document).ready(function() {
		$("#test_but").click(function(event) {
			alertify.alert("Хуй!!!!!");
		});
	});

</script>
<div id="wide_content">
	<div class="table_header">
		<div class="table_header_text">Информация о фильме</div>
	</div>
	<div class="table_control_panel">
		<div class="OTC CUC LTC"><%= link_to 'Редактировать', edit_movie_path(@movie), :class => "PTC AUC" %><div class="ITC"></div></div>
		<div class="OTC CUC LTC"><%= link_to 'Удалить', @movie, method: :delete, data: { confirm: 'Ололошки, точно удалить?' }, :class => "PTC AUC" %><div class="ITC"></div></div>

		<div class="OTC CUC LTC"><%= link_to "Экспорт в Excel", "/export/#{@movie.id}", class: "PTC AUC", id: "export_but" %><div class="ITC"></div></div>
		<div class="OTC CUC LTC"><a href="#" id="test_but" data-confirm="">Test</a><div class="ITC"></div></div>
	</div>
	<div class="table_content_in">
		<table width="100%" class="summary">
			<tr>
				<td width="1px">
					<div style="margin-right: 10px;">
						<% unless @movie.image_link.empty? %><%= image_tag (@movie.image_link) %><% end %>
					</div>
				</td>
				<td style="padding-left: 10px; vertical-align: top;">
					<div style="margin-bottom: 5px;">Номер диска&nbsp;
						<% @movie.disknum.split(",").each do |disknum| %>
							<%= link_to disknum.strip, movies_path(disknum: disknum.strip), class: "name" %>&nbsp;&nbsp;
						<% end %>
					</div>
					<h1>
						<%= @movie.name %><br />
						<span class="english"><%= @movie.orig_name %> <% if @movie.year > 0 %>(<%= @movie.year %>)<% end %></span>
					</h1>
					<table style="font-size: 11px;">
						<tr>
							<td><img src="/assets/view/imdb_details.png" alt=""></td>
							<td>
								<strong style="font-size: 2em;"><%= link_to "#{@movie.imdb / 10}.#{@movie.imdb % 10}", @movie.imdb_link, class: "name" %></strong>/10
							</td>
						</tr>
					</table>
					<table>
						<tr>
							<th>Режиссёр</th>
							<td><% @movie.director.split(",").each do |director| %><%= link_to director.strip, movies_path(director: director.strip), class: "name" %><% end %></td>
						</tr>
						<tr>
							<th>Звёзды</th>
							<td><% @movie.stars.split(",").each do |star| %><%= link_to star.strip, movies_path(actor: star.strip), class: "name" %>&nbsp;&nbsp;<% end %></td>
						</tr>
						<tr>
							<th>Жанр</th>
							<td><%= @movie.genre %></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1">Обзор</a></li>
				<li><a href="#tabs-2">Тех данные</a></li>
			</ul>
			<div id="tabs-1">
				<table cellspacing="7" class="summary">
					<tbody>
						<tr>
							<th>Продюссер</th>
							<td><%= @movie.produced %></td>
						</tr>
						<tr>
							<th>Актёры</th>
							<td><%= @movie.actors %></td>
						</tr>
						<tr>
							<th>Композитор</th>
							<td><%= @movie.composer %></td>
						</tr>
						<tr>
							<th>Описание</th>
							<td><%= @movie.desc %></td>
						</tr>
						<tr>
							<th>Примечания</th>
							<td><%= @movie.remarks %></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="tabs-2" class="tabscontent">
				<table class="summary">
					<tr>
						<th>Звуковые дорожки</th>
						<td><%= @movie.lang %></td>
					</tr>
					<tr>
						<th>Продолжительность</th>
						<td><%= duration(@movie) %></td>
					</tr>
					<tr>
						<th>Размер файла</th>
						<td><%= @movie.movie_tech_detail.filesize %></td>
					</tr>
					<tr>
						<th>Размер картинки</th>
						<td><%= @movie.movie_tech_detail.resolution %></td>
					</tr>
					<tr>
						<th>Тип файла</th>
						<td><%= @movie.movie_tech_detail.filetype %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>